{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Document/css/style.css' %}">  
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Alliance Discovery</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		<!-- BootStrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		
		<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/> -->
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/png" href="{% static 'Document/img/favicon.ico' %}"/>
	</head>

	<body class="body" style="background-color:#f6f6f6">
		<div class="container-fluid" style="min-height:100%; ">
			<div class="row"  style="background-color:#FF0000">
				<div class="col-sm-2">
					<br>
					<!-- <center> -->
					<img src="{% static 'Document/img/logo.png' %}" class="responsive-img" style='max-height:100px;' alt="Alliance Logo">
					<!-- </center> -->
				</div>
				<div class="col-sm-10">
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<br><br>
					<ul class="nav nav-pills nav-stacked">
						<li><a href='http://127.0.0.1:8000'>Manage Data</a></li>
						<li><a href='http://127.0.0.1:8000/schema/'>View data schema</a></li>
						<li><a href='http://127.0.0.1:8000/queries/'>Build queries</a></li>
						<li><a href='http://127.0.0.1:8000/metrics/'>View data metrics</a></li>
					</ul>
				</div>
				<div class="col-sm-10">
					<div class='container-fluid'>
					<br><br>
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container-fluid" style='margin-left:15px'>
				<p><a href="http://alliance.com.ph/" target="blank">Alliance</a> </p>
			</div>
		</footer>

	</body>
</html>